# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Generatives
.pnpm-store
node_modules
dist
dist-ssr
*.local
*storybook.log
vite-profile-*.cpuprofile

*.module.scss.d.ts
*.module.scss.d.ts.map

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
