# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Generatives
.pnpm-store
node_modules
dist
dist-ssr
/src/__vrt__/*
!/src/__vrt__/vrt.test.ts
/playwright/.cache/
/storybook-static/
*.local
*storybook.log
vite-profile-*.cpuprofile
vite.config.*.timestamp-*

*.module.scss.d.ts
*.module.scss.d.ts.map

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
