.App {
  content: '';
  height: 100%;

  display: grid;
  grid-template:
    "preview control" 1fr
    / 1fr auto;
}

.Control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
